.Alljobs {
  img {
    max-width: 50px;
    max-height: 50px;
  }

  .app-btns {
    font-size: small;
    border: 1px solid #000;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
  }
}

.details {
  color: #666;
  font-size: 1.1em;
  font-weight: 700;
  font-family: "Marvel", "Open Sans", "Helvetica Neue", sans-serif;
}
