.Alljobs {
  img {
    max-width: 50px;
    max-height: 50px;
  }
}

.details {
  color: #666;
  font-size: 1.1em;
  font-weight: 700;
  font-family: 'Marvel', 'Open Sans', 'Helvetica Neue', sans-serif;
}
