// section{
//   margin: 2em;
// }
// .Hero{
  

// }
.Hero-text{
  // border: 2px solid red;
  width: 70%;
  text-align: left;
  padding: 30px;
  font-size: 20px;
  font-weight: 800;

}
.Hero-image{
  margin: 0px auto;
  max-width: 1000px;
  height: 400px;
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;

  }
}

.Hero-sponsor{
  display:  flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2em;

  img{
    max-width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
  }
}



